fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
pymupdf
python-multipart
python-dotenv
sentence-transformers
groq
pydantic